
.navbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    /* background-color: #1F4E5A; */
    background-color: #FBFBFB; 
    color:black; 
}



.logo{
    width: 100px;
    height:100px;
    /* padding:40px; */
   position:center;

}


.nav-links{
    display: flex;
    
    justify-content: flex-end;
    width:75%;
    list-style: none;

}





.search,
.offers,
.help,
.signin,
.cart{
    text-decoration: none;
    color:#292C40;
    text-align: none;
    font-size: 15px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    

}


.search:hover{
  color: #f1a07a;
}
.offers:hover{
  color: #f1a07a;
}
.help:hover{
  color: #f1a07a;
}
.signin:hover{
  color: #f1a07a;
}

.cart:hover{
  color: #f1a07a;
}


@media screen and (max-width: 414px) {


 .navbar-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 100%;
    /* background-color: #1F4E5A; */
    background-color: #FBFBFB; 
    color:black; 
  }

  .logo{
    width: 30px;
    height:30px;
    /* padding:40px; */
    float: left;
   /* position:center; */

  }

  .span{
    font-size: 5px;
  }

  .nav-links{
    display: flex;
    justify-content: flex-end;
    /* width:75%; */
    list-style: none;

   }


 .search,
 .offers,
 .help,
 .signin,
 .cart{
  padding: 0px 2px;
  margin: 0 3px;
   
   font-size: 7px;
    } 




   }
   