
.container{
    margin-left: 30px;
    margin-right: 30px;

}

.heading{
    padding: 10px;
 
}


.item-name{
    font-size: 15px;
}

.item-length{
    border-bottom: 1px solid gray;
}

.description{
   color: #CACBD0
}

.box{
    border-bottom: 1px solid #D4D5D9;
    padding-top: 30px;
    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;

    /* justify-content: center; */
    /* align-items: center; */
}

.add-btn-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.add-btn{
    padding:5px 15px;

    color: green;
    outline: none;
    border: 1px solid lightslategray;
    background-color: transparent;

}

 p{
    font-size: 1vw;
}




@media screen and (max-width: 414px) {

    .container{
        margin: 10px;
       
    
    }
    .heading{
        font-size: 2vw;
        padding:3px;
    }
    .item-name{
        font-size: 2vw;
    }
    
 
}
