
/* 
new navbar */
.nav-menu{
    position: sticky;
    top: 200px;
    border-right:"1px solid gray"

}

.scrollspy {
    margin-right:5px;
     
  }

ul {
    list-style: none;
  }
  ul li {
    
    margin: 10px;
    padding: 5px 0;
    font-size: 1vw;
  }
   li a {
    text-decoration: none;
      
    color: black;
  }
  .isCurrent {
    font-weight: bold;
  }
  
  .isCurrent a {
    color: #f1a07a;
  }





  /* Code for Mobie view */

  @media screen and (max-width: 414px) {
    .nav-menu{
      position: sticky;
      top: 100px;
      border-right:"1px solid gray"
  
    }
  

  }
