/* 
.items li{
    list-style: none;
    text-decoration: none;
    
}

.nav-text a{
    
    
    width: 100%;
    color: black; 
    font-size: 15px; 
    
    border-radius: 4px;
    text-decoration: none ;
    
   
    
}

.navText{
    padding-left: 10px;
    text-decoration: none ;
}

.active{
    color: #FC8119;
    border-bottom: 1px solid green;

} */





/* 
new navbar */
.nav-menu{
    position: sticky;
    top: 300px;
    border-right:"1px solid gray"

}
.scrollspy {
    margin:10px;
     
  }

ul {
    list-style: none;
  }
  ul li {
    
    margin: 10px;
    padding: 10px 0;
  }
   li a {
    text-decoration: none;
      
    color: black;
  }
  .isCurrent {
    font-weight: bold;
  }
  
  .isCurrent a {
    color: #f1a07a;
  }