/* back to top button css */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    background: lightslategray;
    color: white;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    box-shadow: 0 5px 10px #ccc;
  }
  .back-to-top:hover {
    background:#f1a07a; 
  }



@media screen and (max-width: 414px) {
  

    .back-to-top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 10px;
        background: #241629;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        border: none;
        box-shadow: 0 5px 10px #ccc;
      }
      .back-to-top:hover {
        background:#fd3c66; ;
      }
    
 
}